@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.header h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.Receipt-container {
  padding: 2rem 4rem;
  background-color: rgb(247, 224, 216);
}

.inner-container {
  background-color: #fff;
  padding: 2rem;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}

.success h3 {
  font-size: 2rem;
  font-weight: 600;
}

.success h5 {
  font-size: 2rem;
  font-weight: 600;
  color: #4caf50;
}

.item-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item p {
  font-size: 1.3rem;
  font-weight: 500;
}

.item span {
  font-size: 1.3rem;
  font-weight: 600;
}

.total {
  font-weight: 700;
  font-size: 1.6rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 7px;
  margin-top: 4rem;
}
